<!DOCTYPE html>
<html>
<head>
	<title>Posts</title>
    <link rel="stylesheet" type="text/css" href="/static/litmus/css/raw.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	
</head>
<body>
		<div>
      <p class="date">Date: {{time}}</p>
<div class="paper">

	<h1 class="title">{{title}}</h1>
    <div class="paper-content">
        <p class="content">{{body}}</p> 
        <input id="read-more" type="submit" value="Read More..">
    </div>
</div>
</div>
</body>
</html>